* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* color: white; */
}

html,
body {
  height: 100%;
  width: 100%;
}

.parent {
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  height: 330px;
  width: 280px;
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 30px;
}

.top img {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
  object-fit: cover;
}

.top button {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border: 1px solid #dadada;
  font-size: 14px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
}

.centre h3 {
  font-size: 17px;
  font-weight: 500;
}
.centre h3 span {
  font-size: 9px;
  font-weight: 400;
  color: rgb(203, 203, 201);
  padding: 2px;
}

.centre h2 {
  font-size: 21px;
  font-weight: 500;
}

.centre .tag {
  display: flex;
  margin-top: 10px;
  gap: 5px;
}

.centre .tag h4 {
  font-size: 12px;
  background-color: #dadada;
  color: black;
  font-weight: 400;
  padding: 3px 6px;
  border-radius: 3px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top: 15px;
}

.bottom button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  column-width: 600;
  padding: 5px 10px;
}

.bottom h3 {
  font-size: 17px;
}
.bottom p {
  font-size: 12px;
  color: #8b8b8b;
}
