* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica";
  color: #fff;
}
.body,
html {
  height: 100%;
  width: 100%;
}

.body {
  background-color: #111;
}

.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 300px;
  border: 2px solid white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  background-color: #222;
}
.card p {
  margin: 20px 0;
}
.card img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.card button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: black;
}
