* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.papa {
  height: 270px;
  width: 208px;
  background-color: white;
  border: 4px solid #ede8e8;
  border-radius: 12px;
}

.parent {
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.card {
  height: 200px;
  width: 200px;
  background-color: rgb(250, 220, 203);
  border-radius: 12px;
}
.card .top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 15px;
}

.top p {
  margin: 10px;
  border-radius: 12px;
  background-color: white;
  color: black;
  border: 1px solid #dadada;
  padding: 6px;
  font-size: 12px;
  font-weight: 900;
}
.top button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 10px;
  height: 28px;
  width: 28px;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid #dadada;
}

.card .center {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 10px;
}

.center h3 {
  font-size: 12px;
  font-weight: 300;
}

.center h2 {
  width: 110px;
  font-size: 16px;
  font-weight: 600;
}
.center span img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 100px;
}
.bottom .tag {
  margin: 10px;
  font-size: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.bottom .tag span {
  border: 1px solid black;
  border-radius: 8px;
  padding: 4px 8px;
}

.lower {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 10px;
}
.lower h4 {
  font-size: 15px;
  padding: 4px;
}
.lower p {
  font-size: 12px;
  padding-left: 4px;
  color: #a3a2a2;
}

.lower button {
  padding: 7px;
  background-color: black;
  color: white;
  border-radius: 12px;
}
